*.iml
.gradle
/gradle
/gradlew
/gradlew.bat
/build.gradle
/.gradle
/settings.gradle
/gradle.properties
/local.properties
/settings.gradle
/gradlew.bat
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
